<html lang="en">
<head>
  <meta charset="utf-8"/>
</head>
<body>

  <div id="big_wrapper">
    <div id="content_wrapper">
      <section id="content">
        <div class="row">
          <div class="teamcontainer">
            <img class="left" src="steve_bio.JPG" width="200" height="200" />
            <h1>Steven Diamond</h1>

            <p>Dr. Steven Diamond is co-founder and chief content officer of Twin Bridge
Technologies LLC, a niche software applications developer focused on linking
personal medical information needs to lifestyle communications devices. He is
a physician entrepreneur who obtained his MBA from the Wharton School of
Business in 1994. He graduated from Midwestern University's School of
Osteopathic Medicine in 1970 and, during medical school, he had a grant from
the US government to introduce computers in medicine. Subsequently he
obtained his Anatomic and Clinical Pathology Certification in 1975. During that
period of training, he worked on computerization in the clinical laboratory.
<br>
<br>
After graduating from the Wharton School, Dr. Diamond created a medical
information company, Medinfocare. The company was funded by a Ben Franklin
Technology Grant from the State of Pennsylvania and is credited as being the
first company to introduce decision content to internal medical practices through
computerization.
<br>
<br>
Currently Dr. Diamond is the Director of US Clinical Trials for LabCorp
Corporation. He is also Medical Director of Pathology at the Hunterdon Medical
Center in Flemington, New Jersey and also serves on the Board of Directors of
EP Technologies, which is a biotechnology corporation developing anti-cancer
medication. Dr. Diamond was most recently appointed Chief Operating Officer
of the International Space Medicine Consortium, ISMC, an independent and
collaborative entity, founded to enhance the knowledge of Space Medicine and
related areas with the intent of helping space crews and space-faring travelers
to better adapt, work and live in extra-terrestrial environments.</p>
            <div style="clear: both"></div>
          </div>
        </div>

        <div class="row">
          <div class="teamcontainer">
            <img class="left" src="ron_bio.jpg" width="200" height="200" />
            <h1>Ron DiLeo</h1>

            <p>Ron is co-founder and president of Twin Bridge Technologies LLC, a niche software applications

developer focused on linking personal medical information needs to lifestyle communications

devices. He is also the founder and CEO of the IN THE BLACK Group, specializing in all

aspects of travel and business management performance. Today his client roster consists of

entrepreneurs seeking investment funding for travel related ventures. He is a thirty-five year plus

veteran of the travel industry during which time he has held various local, regional, multinational

and global leadership roles. Ron is currently executive vice president and chief commercial officer

of Altour International, the largest independently owned travel management company in the world,

with offices and a global network designed to suite the B2B needs of any corporation.
<br>
<br>
Prior to his current endeavors, Ron was senior vice president and general manager of American

Express Travel EMEA, based in London, which during his tenure was a $7B business, employing

6300 people, and encompassing twenty-one markets throughout Europe, the Middle East, and

Africa. Ron also served on the board of American Express Europe Ltd, which set direction for all

American Express businesses operating in the region which at the time included the American

Express Corporate and Consumer Card businesses, the Establishment Services business, the

Global Network Services business, and the American Express Bank.
<br>
<br>
Prior to working for American Express, Ron was the Chief Operating Officer of Rosenbluth

International, a privately held global travel management company, employing 3800 people, with

offices in forty-eight countries around the world. When the company was being sold to American

Express, he was part of the executive team working with the Blackstone Group that orchestrated

the sale.
<br>
<br>
Ron served for three years as Executive Director of the Association of Corporate Travel

Executives (ACTE), a travel industry trade association focused on education and industry

advocacy. His resume also includes time in the corporate card industry where he was president

and CEO of AirPlus International Inc.
<br>
<br>
Ron participates in a number of angel investor groups in the United States and Europe and serves

on the board of several companies in the travel, tourism and hospitality space.</p>
            <div style="clear: both"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
